[buildout]
develop = .
parts = py test

[py]
recipe = zc.recipe.egg
interpreter = py
eggs = zc.FileStorage

[test]
recipe = zc.recipe.testrunner
eggs = ZODB3 <3.9dev
       zc.FileStorage
initialization = import zc.FileStorage
