[buildout]
develop = .
parts = py test

[py]
recipe = zc.recipe.egg
interpreter = py
eggs = zc.FileStorage

[test]
recipe = zc.recipe.testrunner
eggs = zc.FileStorage
initialization =
  import os, tempfile, shutil
  if os.path.exists('tmp'): shutil.rmtree('tmp')
  os.mkdir('tmp')
  tempfile.tempdir = os.path.abspath('tmp')

# There's mo point in running the zeo tests, since zeo will run the
# server in a separate process that won't see the zc.FileStorage
# import.
defaults = ['-s', 'ZODB', '-s', 'zc.FileStorage']
