[buildout]
develop = . 3.8
parts = py test

[py]
recipe = zc.recipe.egg
interpreter = py
eggs = zc.FileStorage

[test]
recipe = zc.recipe.testrunner
eggs = ZODB3 <3.9dev
       zc.FileStorage
initialization =
  import os, tempfile, shutil
  if os.path.exists('tmp'): shutil.rmtree('tmp')
  os.mkdir('tmp')
  tempfile.tempdir = os.path.abspath('tmp')

  import zc.FileStorage
  zc.FileStorage.FileReferences.cache_size = 2
  zc.FileStorage.FileReferences.entry_size = 2

  import ZODB.tests.VersionStorage, ZODB.tests.TransactionalUndoVersionStorage
  class C: pass
  ZODB.tests.VersionStorage.VersionStorage = C
  class C: pass
  ZODB.tests.TransactionalUndoVersionStorage.TransactionalUndoVersionStorage = C
  import ZODB.tests.testDB
  del ZODB.tests.testDB.DBTests.test_removeVersionPool
  del ZODB.tests.testDB.DBTests.test_removeVersionPool_while_connection_open
  import ZODB.tests.testZODB
  del ZODB.tests.testZODB.ZODBTests.checkVersionOnly

# There's mo point in running the zeo tests, since zeo will run the
# server in a separate process that won't see the zc.FileStorage
# import.
defaults = ['-s', 'ZODB', '-s', 'zc.FileStorage']
